# Module 4: Data Manipulation and Analysis with Pandas

![](http://pandas.pydata.org/_static/pandas_logo.png)
[Pandas](http://pandas.pydata.org/) is a software library written for the Python programming language for data manipulation and analysis. In particular, it offers data structures and operations for manipulating numerical tables and time series. Pandas is free software released under the three-clause BSD license. The name is derived from the term _panel data_, an econometrics term for multidimensional structured data sets.

#### Contents

* [Series](#Series)
* [DataFrames](#DataFrames)
* [Importing Pandas](#Importing-Pandas) and other libraries.
* [Creating Data](#Creating-Data) using lists and tuples
* [Viewing Data](#Viewing-Data)
* [Saving Data](#Saving-Data) to_csv and to_excel
* [Loading Data](#Loading-Data) read_csv, read_table read_excel, read_html
    * [Unix and os](#Unix-and-os)
    * [CSVs and Excel](#CSVs-and-Excel)
* [Selecting Data](#Selecting-Data) loc,iloc,isin
    * [Masks](#Masks) or boolean arrays
* [Preparing Data](#Preparing-Data)
    * [Missing Values](#Missing-Values)
    
*[to be continued in part 4b]*

NB: This notebook misses some methods of joining and concatenating and merging data. The instances in which those are useful are quite specific, so we'll see some examples but won't have a section in this notebook for reference. 

#### Resources:  
* [Pandas Documentation](http://pandas.pydata.org/pandas-docs/stable/index.html), especially
[10 minutes to pandas](http://pandas.pydata.org/pandas-docs/stable/10min.html)  
* [The Data Incubator](https://www.thedataincubator.com/)  
* [Hernan Rojas' learn-pandas](https://bitbucket.org/hrojas/learn-pandas)  
* [Harvard CS109 lab1 content](https://github.com/cs109/2015lab1)

## Series

In [ ]:
#import pandas library as pd
import pandas as pd
#import matplotlib library as plt 
import matplotlib.pyplot as plt
import numpy as np

In [ ]:
#create a pandas series from list
#observe the dtype
animals = ['Tiger', 'Bear', 'Moose']
pd.Series(animals)

In [ ]:
#create a pandas series from list
#observe the dtype
numbers = [1, 2, 3]
pd.Series(numbers)

In [ ]:
#it is possible to create a pandas series with None, indicating no data
#observe the dtype
animals = ['Tiger', 'Bear', None]
pd.Series(animals)

In [ ]:
#in the case of numbers, None will give a NaN (Not a Number)
#observe the dtype
numbers = [1, 2, None]
pd.Series(numbers)

In [ ]:
#create a pandas series from dictionary
sports = {'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Sumo': 'Japan',
          'Taekwondo': 'South Korea'}
s = pd.Series(sports)
s

In [ ]:
#what's the type for s?
type(s)

In [ ]:
#notice the index for s
s.index

In [ ]:
#you can also create a series from list and index
sr = pd.Series(['Tiger', 'Bear', 'Moose'], index=['India', 'America', 'Canada'])
sr

In [ ]:
#a list can be created based on the specified indices
sports = {'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Sumo': 'Japan',
          'Taekwondo': 'South Korea'}
sp1 = pd.Series(sports, index=['Golf', 'Sumo', 'Hockey'])
sp1

## Querying a series

In [ ]:
sports = {'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Sumo': 'Japan',
          'Taekwondo': 'South Korea'}
s = pd.Series(sports)
s

In [ ]:
#iloc to query based on index
s.iloc[3]

In [ ]:
#loc to query based on location
s.loc['Golf']

In [ ]:
#to query based on index
s[3]

In [ ]:
#to query based on location
s['Golf']

In [ ]:
sports = {99: 'Bhutan',
          100: 'Scotland',
          101: 'Japan',
          102: 'South Korea'}
s = pd.Series(sports)

In [ ]:
s[0] #This won't call s.iloc[0] as one might expect, it generates an error instead

# try s[99] or s[101]. What can you make of this?

In [ ]:
#create a pandas series from a dictionary and a list -- flexible!
original_sports = pd.Series({'Archery': 'Bhutan',
                             'Golf': 'Scotland',
                             'Sumo': 'Japan',
                             'Taekwondo': 'South Korea'})

cricket_loving_countries = pd.Series(['Australia',
                                      'Barbados',
                                      'Pakistan',
                                      'England'], 
                                index=['Cricket',
                                       'Cricket',
                                       'Cricket',
                                       'Cricket'])
all_countries = original_sports.append(cricket_loving_countries)

In [ ]:
all_countries

In [ ]:
#using loc to list all countries with the index 'Cricket'
all_countries.loc['Cricket']

## DataFrames


A data frame is like a table, with rows and columns (e.g., as in SQL or Excel).  
**Except** that :
  - The rows can be indexed by something interesting (there is special support for labels like categorical and timeseries data).
  - Cells can store any Python object. Like in SQL, columns must have a homogenous type.
  - Instead of "NULL", the name for a non-existent value is "NA".  Unlike R, Python's data frames only support NAs in columns of some data types (basically: floating point numbers and 'objects') -- but this is mostly a non-issue (because it will "up-type" integers to float64, etc.)
  
Each of a ```DataFrame```'s columns are an individual ```Series```, (more correctly, a dataframe is a dictionary of Series).  The entires series must have a homogenous type.

In [ ]:
# Example 1
# Let's make a dataset that consists of Malaysian States
# and the size of each state in km2.  Let's try and rank 
# the states of Malaysia by land area, and figure out if East
# Malaysia is larger or smaller than West Malaysia

states = ['Johor','Kedah','Kelantan','Melaka', 
          'Negeri Sembilan','Pahang','Perak','Perlis',
          'Penang','Sabah', 'Sarawak','Selangor','Terengganu']
area = [19210,9500,15099,1664,6686,36137,21035,
        821,1048,73631,124450,8104,13035]

In [ ]:
# Use the zip function to merge the two lists together
zip?

In [ ]:
# Area Data Set
state_area = list(zip(states, area))
state_area

We now will use the ***pandas*** library to export this data set into a csv file. 

***df*** will be a ***DataFrame*** object. You can think of this object holding the contents of states in a format similar to a sql table or an excel spreadsheet. Let's take a look below at the contents inside ***df***.

In [ ]:
df = pd.DataFrame(data = state_area, columns=['State', 'Area'])
#head to show first 5 rows of data
df.head()

In [ ]:
print((type(df)))
print() 
print((df.info()))

In [ ]:
#provide statistical summary for the whole dataset
df.describe()
#find out what these statistics are...

In [ ]:
type(df['Area'])

In [ ]:
df['Area']

In [ ]:
# Ranking of land area -- top 5
# East Malaysia looks big!
df = df.sort_values('Area', ascending=False)
df.head(5)

In [ ]:
# Excluding WPs, East Malaysia is larger than West Malaysia!
print(('East Malaysia Size: ', df['Area'][9:11].sum()))           # get only data from row 9 and 10 to be summed
print(('West Malaysia Size: ', df['Area'].sum() - df['Area'][9:11].sum()))

In [ ]:
# Create graph
df['Area'].plot.bar()
plt.xticks(np.arange(13), (df['State']))
plt.xlabel('Malaysian States')
plt.ylabel('Land Area in $km^2$')
plt.title('Malaysian States by Land Area')
plt.show();

In [ ]:
# before we proceed to the second example, let's store the DataFrame 'df' in another variable
stateDF = df

In [ ]:
#Example 2
purchase_1 = pd.Series({'Name': 'Chris',
                        'Item Purchased': 'Dog Food',
                        'Cost': 22.50})
purchase_2 = pd.Series({'Name': 'Kevyn',
                        'Item Purchased': 'Kitty Litter',
                        'Cost': 2.50})
purchase_3 = pd.Series({'Name': 'Vinod',
                        'Item Purchased': 'Bird Seed',
                        'Cost': 5.00})
df = pd.DataFrame([purchase_1, purchase_2, purchase_3], index=['Store 1', 'Store 1', 'Store 2'])
df.head()

In [ ]:
df.loc['Store 2']

In [ ]:
type(df.loc['Store 2'])

In [ ]:
df.loc['Store 1']

In [ ]:
df.loc['Store 1', 'Cost']

In [ ]:
#transpose dataframe
df.T

In [ ]:
df.T.loc['Cost']

In [ ]:
df['Cost']

In [ ]:
df.loc['Store 1']['Cost']

In [ ]:
df.loc[:,['Name', 'Cost']]

In [ ]:
#to delete a row
df.drop('Store 1')

In [ ]:
#notice that drop does not change the original dataset
#drop created a copy instead
df

In [ ]:
copy_df = df.copy()
copy_df = copy_df.drop('Store 1')
copy_df

In [ ]:
#use del
#will change the original dataset
del copy_df['Name']
copy_df

In [ ]:
#create a new column 'Location' with None value
df['Location'] = None
df

## Importing Pandas

The general way to import libraries is to write
```python
import library #import the library directly
import library as alias 

# This just aliases the package names.
# That way we can call methods like plt.plot() instead of matplotlib.pyplot.plot().

from library import function # import specific functions or types in a library
%jupyter magic # jupyter only functions
```

In [ ]:
# Some imports - for style reasons, try and put in alphabetical order, unless there are subgroupings of imports
# that you want.
import matplotlib #we'll only use this to determine the matplotlib version number
import matplotlib.pyplot as plt  # the graphing library
import numpy as np # scientific computing library
import pandas as pd # the data structure and analysis library
from pandas import DataFrame, read_csv, Series # specific functions from pandas
import seaborn as sns # Makes graphs look pretty
import sys #we'll only use this to determine the python version number

# Enable inline plotting.  The % is an iPython thing, and is not part of the Python language.
# In this case we're just telling the plotting library to draw things on
# the notebook, instead of on a separate window.
%matplotlib inline

In [ ]:
# All the imports are listed as modules, including pyplot.  But there are several other types
%whos

In [ ]:
# How to check your version numbers
print(('Python version: ' + sys.version))
print() 
print(('Pandas version: ' + pd.__version__))
print(('Matplotlib version: ' + matplotlib.__version__))

## Creating Data

There are many ways to input data into Pandas. The goal of this is to input data to DataFrames.

In [ ]:
# A data frame, using a dictionary with ordered 
# lists for columns

df1 = pd.DataFrame({
    'number': [1, 2, 3],
    'animal': ['cat', 'dog', 'mouse']
})

# The same data frame, using tuples for each row
# We need to give the column names separately!
df2 = pd.DataFrame([
    ('cat', 1),
    ('dog', 2),
    ('mouse', 3),
], columns=['animal', 'number'])

# Are they the same?
assert((df1 == df2).all().all)

df1

In [ ]:
dates = pd.date_range('20161101',periods =6)
dates

In [ ]:
df3 = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df3

Let's Create another DataFrame, with different data types.  
Side note that that you can **copy** examples from the internet 
like this into Jupyter Notebook, it will still works, but only if there isn't anything else in the cell!

From: http://pandas.pydata.org/pandas-docs/stable/10min.html

In [ ]:
In [10]: df2 = pd.DataFrame({ 'A' : 1.,
   ....:                      'B' : pd.Timestamp('20130102'),
   ....:                      'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
   ....:                      'D' : np.array([3] * 4,dtype='int32'),
   ....:                      'E' : pd.Categorical(["test","train","test","train"]),
   ....:                      'F' : 'foo' })
   ....: 

df2

Amazing! It works huh? (Even with all the extra stuff at the margin side...)

In [ ]:
# Dataframe Columns have specific data types
df2.dtypes

## Viewing Data

Selecting a single column, which yields a Series.

A Series, like a numpy array, most be of homogenous type

In [ ]:
# Like Dictionaries! DataFrame is a dictionary of Series!
df1['animal']

In [ ]:
# You can also access a column as a property of df1
df1.animal

In [ ]:
# You can access rows like how you would with lists...
df3[3:5]

## Saving Data

#### Exporting to CSVs and Excel files

Let's revive back our earlier example on the Malaysian states and export the DataFrame `df` to a ***csv*** file. We can name the file ***malaysia_states.csv***, but we can also do a txt file! The function ***to_csv*** will be used to export the file. The file will be saved in the same location of the notebook unless specified otherwise.

In [ ]:
# copy back from stateDF (which has the Malaysian states data. There's actually no purpose in doing this but 
# just to keep the variable short :) 
df = stateDF   
df.to_csv?

The only parameters we will use is ***index*** and ***header***. Setting these parameters to True will prevent the index and header names from being exported. Change the values of these parameters to get a better understanding of their use.

In [ ]:
df.to_csv('data/malaysia_states.csv',index=False,header=False)

In [ ]:
# Let's also try a text file
# CSV actually stands for comma separated values, which can be opened as a text file 
df.to_csv('data/malaysia_states.txt',index=False,header=False)

In [ ]:
df.to_excel?

In [ ]:
# And to Excel files
df.to_excel('data/malaysia_states.xlsx',index=False)

In [ ]:
# Reset our namespace; delete all variables
%reset

In [ ]:
%whos

In [ ]:
# Import again
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import numpy.random as random
%matplotlib inline

In [ ]:
%whos

## Loading Data

Let's now try accessing that csv that we just saved.  Let us take a look at this function and what inputs it takes.

In [ ]:
pd.read_csv?

Even though this functions has many parameters, we will simply pass it the location of the text file. We know that we saved things into the same directory.

### CSVs and Excel

In [ ]:
path = r'data/malaysia_states.csv'    # why is there an 'r' in front of the filename?
df = pd.read_csv(path)
df

The `read_csv` function treated the first record in the csv file as the header names. This is obviously not correct since the text file did not provide us with header names.
To correct this we will pass the header parameter to the `read_csv` function and set it to None (means null in python).

In [ ]:
df = pd.read_csv(path, header=None)
df

If we wanted to give the columns specific names, we would have to pass another parameter called `names`. We can also omit the header parameter.

In [ ]:
area_df = pd.read_csv(path, names=['State','Area'])
area_df

You can think of the numbers [0,1,2,3,4] as the row numbers in an Excel file. In pandas these are part of the ***index*** of the dataframe. You can think of the index as the primary key of a SQL table with the exception that an index is allowed to have duplicates.  

***[State, Area]*** can be thought of as column headers similar to the ones typically found in an Excel spreadsheet or SQL database.

Now, to delete the csv file now that we are done using it...

In [ ]:
# Using a Python Library - you can also use the unix command directly! Easy!
import os
os.remove(path)   # we had the filename stored in 'path' earlier

In [ ]:
# Note that we do the same with xls files, only use read_excel.
# Try it!
pd.read_excel?

## Selecting Data

We can select data both by their labels and by their position.

In [ ]:
dates = pd.date_range('20160101', periods=6)
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
print(dates)
df

In [ ]:
# Try head, tail, index, columns, values, describe, T, sort_index
# sort_values and see for yourself what they do!

In [ ]:
# Getting a cross section on a label (or in other words, a row)
print((dates[0]))
print((df.loc[dates[0]]))

In [ ]:
# Selecting on a multi-axis by label
df.loc[:,['A','B']]

In [ ]:
# Showing label slicing, both endpoints are included unlike normal slicing
df.loc['20160103':'20160105',['B','C']]

In [ ]:
# To get a scalar value... both work!
df.loc[dates[2],'D']
#df.at[dates[2],'D']

```iloc``` is the same as ```loc```, only it works by position, not by label.

In [ ]:
# Select via the position of the passed integers
df.iloc[2,3]

In [ ]:
# By integer slices, acting similarly to numpy/python
df.iloc[3:5,0:2]

In [ ]:
# By lists of integer position locations, 
# similar to the numpy/python style
df.iloc[[1,2,4],[0,2]]

In [ ]:
# iloc is used to slice rows and columns explicitly
df.iloc[1:3,:]

In [ ]:
df.iloc[:,1:3]

In [ ]:
# For getting a value explicitly
df.iloc[1,1]
# df.iat[1,1]

### Masks

We can use _boolean arrays_ to select data

In [ ]:
df.A>0

In [ ]:
df[df.A > 0]    # can you figure out intuitively what this does?

In [ ]:
df[df > 0]

### Setting Data

In [ ]:
df['E'] = ['one', 'one','two','three','four','three']    # create a new column
df

In [ ]:
df[df['E'].isin(['two','four'])]

In [ ]:
# We can set data in a variety of ways
print(df)
df.at[dates[0],'A'] = 0               
df.iat[0,1] = 0                       
df.loc[:,'D'] = np.array([5] * len(df))
df

In [ ]:
del df['E']
df

In [ ]:
# where operation with setting!
df[df > 0] = -df
df

## Preparing Data

Or data cleansing!

Let's use some real data from Wikipedia!

Pandas takes a "batteries included approach" and throws in a whole lot of convenience functions.  For instance it has import functions for a variety of formats.  One of the pleasant surprises is a command `read_html` that's meant to automate the process of extacting tabular data from HTML.  In particular, it works pretty well with tables on Wikipedia.  

Let's do an example: We'll try to extract the list of the world's tallest buildings from
http://en.wikipedia.org/wiki/List_of_tallest_buildings_and_structures_in_the_world

In [ ]:
dfs = pd.read_html('http://en.wikipedia.org/wiki/List_of_tallest_buildings_and_structures_in_the_world', header=0, parse_dates=False)
dfs

In [ ]:
# There are several tables on the page.  By inspection we can figure out which one we want
tallest = dfs[2]  
tallest.head()

The coordinates column needs to be fixed up. This needs a bit of string parsing (which you may be unfamiliar, but that's alright if you don't).

In [ ]:
import re

def clean_lat_long(s):
    try:
        parts = s.split("/")
    except AttributeError:
        return (None, None)
    if len(parts)<3:
        return None
    m=re.search(r"(\d+[.]\d+);[^\d]*(\d+[.]\d+)[^\d]", parts[2])
    if not m:
        return (None, None)
    return (m.group(1), m.group(2))

In [ ]:
# Let's make some new columns
tallest['Clean_Coordinates'] = tallest['Coordinates'].apply(clean_lat_long)
tallest['Latitude'] = tallest['Clean_Coordinates'].apply(lambda x:x[0])
tallest['Longitude'] = tallest['Clean_Coordinates'].apply(lambda x:x[1])

# and voila...!
tallest.head()

In [ ]:
# Additional work: Check whether the data matches up with the one online and 
# correct the mistakes, if there are! Look out for the links in Year and Height
# metres!

### Missing Values

When you read in a CSV file / SQL data base there is often "NA" (or "null", "None", etc.) values.  The CSV reader has a special field for specifying how this is denoted, and SQL has the built-in notion of NULL.  Pandas provides some tools for working with these.

Note that these methods are by default not in place -- that is, they create a new series and do not change the original one.

We're going to use a real data set, but only one column of it.  

For more details: http://pandas.pydata.org/pandas-docs/stable/missing_data.html

### Create dataframe with missing values

In [ ]:
raw_data = {'first_name': ['Jason', np.nan, 'Tina', 'Jake', 'Amy'],
        'last_name': ['Miller', np.nan, 'Ali', 'Milner', 'Cooze'],
        'age': [42, np.nan, 36, 24, 73],
        'sex': ['m', np.nan, 'f', 'm', 'f'],
        'preTestScore': [4, np.nan, np.nan, 2, 3],
        'postTestScore': [25, np.nan, np.nan, 62, 70]}
df = pd.DataFrame(raw_data, columns = ['first_name', 'last_name', 'age', 'sex', 'preTestScore', 'postTestScore'])
df

### Drop missing observations

In [ ]:
df_no_missing = df.dropna()
df_no_missing
#cleaned....but a bit strict..

### Drop rows where all cells in that row is NA

In [ ]:
df_cleaned = df.dropna(how='all')
df_cleaned
# this may be better, some rows still might have information

### Create a new column full of missing values

In [ ]:
df['location'] = np.nan
df

### Drop column if they only contain missing values

In [ ]:
df.dropna(axis=1, how='all')
# location column is now gone

### Drop rows that contain less than five observations

In [ ]:
df.dropna(thresh=5)

### Fill in missing data with zeros

In [ ]:
df.fillna(0)

### Fill in missing in preTestScore with the mean value of preTestScore

`inplace=True` means that the changes are saved to `df` right away

In [ ]:
df["preTestScore"].fillna(df["preTestScore"].mean(), inplace=True)
df

### Fill in missing in postTestScore with each sex's mean value of postTestScore

In [ ]:
df["postTestScore"].fillna(df.groupby("sex")["postTestScore"].transform("mean"), inplace=True)
df

### Select some raws but ignore the missing data points

In [ ]:
# Select the rows of df where age is not NaN and sex is not NaN
df[df['age'].notnull() & df['sex'].notnull()]

### Analyzing Data

The rest of this worksheet will use a single example, which contains data for customer counts per date at different store locations each week.

In [ ]:
# Function to generate test data
def CreateDataSet(Number=1):
    Output = []
    for i in range(Number):
        # Create a weekly (mondays) date range
        rng = pd.date_range(start='1/1/2013', end='12/31/2016', freq='W-MON')
        
        # Create random data
        data = np.random.randint(low=25,high=1000,size=len(rng))
        
        # Status pool
        status = [1,2,3]
        
        # Make a random list of statuses
        random_status = [status[np.random.randint(low=0,high=len(status))] for i in range(len(rng))]
        
        # State pool
        location = ['Bangsar','Ampang','Petaling Jaya','Cheras']
        
        # Make a random list of states 
        random_location = [location[np.random.randint(low=0,high=len(location))] for i in range(len(rng))]

        Output.extend(list(zip(random_location, random_status, data, rng)))
        
    return Output

In [ ]:
dataset = CreateDataSet(4)
df = pd.DataFrame(data=dataset, columns=['location','Status','CustomerCount','StatusDate'])
df.info()

In [ ]:
df.head()

We are now going to save this dataframe into an Excel file, to then bring it back to a dataframe. We simply do this to practice reading and writing to Excel files.  

We do not write the index values of the dataframe to the Excel file, since they are not meant to be part of our initial test data set.

In [ ]:
# Save results to Excel
df.to_excel('data/Customers.xlsx', index=False)
print('Done')

In [ ]:
# Location of file
Location = r'data/Customers.xlsx'

# Parse a specific sheet - look what we did here!
df = pd.read_excel(Location, 0, index_col='StatusDate')
df.dtypes

In [ ]:
# Return the index of df
df.index

In [ ]:
df.head()

In [ ]:
# Let's pretend that status == only includes the people who 
# bought something. 
mask = df['Status'] == 1
df = df[mask]
df.shape

At this point we may want to graph the data to check for any outliers or inconsistencies in the data. We will be using the ***plot()*** attribute of the dataframe.  

As you can see from the graph below it is not very conclusive and is probably a sign that we need to perform some more data preparation.

In [ ]:
df['CustomerCount'].plot(figsize=(15,5))
plt.show();

If we take a look at the data, we begin to realize that there are multiple values for the same location, StatusDate, and Status combination. It is possible that this means the data you are working with is dirty/bad/inaccurate, but we will assume otherwise. We can assume this data set is a subset of a bigger data set and if we simply add the values in the ***CustomerCount*** column per location, StatusDate, and Status we will get the ***Total Customer Count*** per day.

In [ ]:
sortdf = df[df['location']=='Bangsar'].sort_index(axis=0)
sortdf.head(10)

### Groupby
Our task is now to create a new dataframe that compresses the data so we have daily customer counts per location and StatusDate. We can ignore the Status column since all the values in this column are of value *1*. To accomplish this we will use the dataframe's functions ***groupby*** and ***sum()***.  

Note that we are using **reset_index** . If we did not, we would not have been able to group by both the location and the StatusDate since the groupby function expects only columns as inputs. The **reset_index** function will bring the index ***StatusDate*** back to a column in the dataframe.

In [ ]:
# Group by State and StatusDate
Daily = df.reset_index().groupby(['location','StatusDate']).sum()
Daily.head(20)

The ***location*** and ***StatusDate*** columns are automatically placed in the index of the ***Daily*** dataframe. You can think of the ***index*** as the primary key of a database table but without the constraint of having unique values. Columns in the index as you will see allow us to easily select, plot, and perform calculations on the data.  

Below we delete the ***Status*** column since it is all equal to one and no longer necessary.

In [ ]:
del Daily['Status']
Daily.head()

In [ ]:
# Try another groupby!

## MultiIndex

In [ ]:
# What is the index of the Daily dataframe
Daily.index

In [ ]:
# Select the location index
Daily.index.levels[0]

In [ ]:
# Try unstacking with 0 and 1.
Daily.unstack(0).head()

### Pivot Tables


Are easy! and are akin to Excel.

In [ ]:
# Let's Create the data set again.
dataset = CreateDataSet(4)
df = pd.DataFrame(data=dataset, columns=['location','Status','CustomerCount','StatusDate'])
df.info()

In [ ]:
pd.pivot_table(df, values = 'CustomerCount', 
               index = ['StatusDate','Status'],
               columns = ['location']).head()

In [ ]:
pd.pivot_table(df, values = 'CustomerCount', 
               index = ['StatusDate','location'],
               columns = ['Status']).head()

## Example Analysis

Lets now plot the data per location.  

As you can see by breaking the graph up by the ***location*** column we have a much clearer picture on how the data looks like. Can you spot any outliers?

In [ ]:
for place in Daily.index.levels[0]:
    print(place)
    Daily.loc[place].plot()
    plt.show();

We will assume that per month the customer count should remain relatively steady. Any data outside a specific range in that month will be removed from the data set. The final result should have smooth graphs with no spikes.  

***LocationYearMonth*** - Here we group by location, Year of StatusDate, and Month of StatusDate.  
***Daily['Outlier']*** - A boolean (True or False) value letting us know if the value in the CustomerCount column is ouside the acceptable range.  

We will be using the attribute ***transform*** instead of ***apply***. The reason is that transform will keep the shape(# of rows and columns) of the dataframe the same and apply will not. By looking at the previous graphs, we can realize they are not resembling a gaussian distribution, this means we cannot use summary statistics like the mean and stDev. We use percentiles instead. Note that we run the risk of eliminating good data.

In [ ]:
# Calculate Outliers
LocationYearMonth = Daily.groupby([Daily.index.get_level_values(0), Daily.index.get_level_values(1).year, Daily.index.get_level_values(1).month])
Daily['Lower'] = LocationYearMonth['CustomerCount'].transform( lambda x: x.quantile(q=.25) - (1.5*x.quantile(q=.75)-x.quantile(q=.25)) )
Daily['Upper'] = LocationYearMonth['CustomerCount'].transform( lambda x: x.quantile(q=.75) + (1.5*x.quantile(q=.75)-x.quantile(q=.25)) )
Daily['Outlier'] = (Daily['CustomerCount'] < Daily['Lower']) | (Daily['CustomerCount'] > Daily['Upper']) 

# Remove Outliers
Daily = Daily[Daily['Outlier'] == False]

The dataframe named ***Daily*** will hold customer counts that have been aggregated per day. The original data (df) has multiple records per day.  We are left with a data set that is indexed by both the state and the StatusDate. The Outlier column should be equal to ***False*** signifying that the record is not an outlier.

In [ ]:
Daily.head()

We create a separate dataframe named ***ALL*** which groups the Daily dataframe by StatusDate. We are essentially getting rid of the ***Location*** column. The ***Max*** column represents the maximum customer count per month. The ***Max*** column is used to smooth out the graph.

In [ ]:
# Combine all markets

# Get the max customer count by Date
ALL = pd.DataFrame(Daily['CustomerCount'].groupby(Daily.index.get_level_values(1)).sum())
ALL.columns = ['CustomerCount'] # rename column

# Group by Year and Month
YearMonth = ALL.groupby([lambda x: x.year, lambda x: x.month])

# What is the max customer count per Year and Month
ALL['Max'] = YearMonth['CustomerCount'].transform(lambda x: x.max())
ALL.head()

As you can see from the ***ALL*** dataframe above, in the month of Jan 2013, the maximum customer count was 1702. If we had used ***apply***, we would have got a dataframe with (Year and Month) as the index and just the *Max* column with the value of 1702. 


----------------------------------  
There is also an interest to gauge if the current customer counts were reaching certain goals the company had established. The task here is to visually show if the current customer counts are meeting the goals listed below. We will call the goals ***BHAG*** (Big Hairy Annual Goal).  

* 12/31/2015 - 1,000 customers  
* 12/31/2016 - 2,000 customers  
* 12/31/2017 - 3,000 customers  

We will be using the **date_range** function to create our dates.  

***Definition:*** date_range(start=None, end=None, periods=None, freq='D', tz=None, normalize=False, name=None, closed=None)  
***Docstring:*** Return a fixed frequency datetime index, with day (calendar) as the default frequency  

By choosing the frequency to be ***A*** or annual we will be able to get the three target dates from above.

In [ ]:
pd.date_range?

# Presenting Data  

Create individual Graphs for each location

In [ ]:
df['location'].unique()

In [ ]:

# First Graph
ALL['Max'].plot(figsize=(10, 5));plt.title('ALL Markets')

# Last four Graphs
fig, axes = plt.subplots(nrows=2, ncols=2, figsize=(20, 10))
fig.subplots_adjust(hspace=1.0) ## Create space between plots

Daily.loc['Bangsar']['CustomerCount']['2016':].fillna(method='pad').plot(ax=axes[0,0])
Daily.loc['Petaling Jaya']['CustomerCount']['2016':].fillna(method='pad').plot(ax=axes[0,1]) 
Daily.loc['Ampang']['CustomerCount']['2016':].fillna(method='pad').plot(ax=axes[1,0]) 
Daily.loc['Cheras']['CustomerCount']['2016':].fillna(method='pad').plot(ax=axes[1,1]) 



# Add titles
axes[0,0].set_title('Bangsar')
axes[0,1].set_title('Petaling Jaya')
axes[1,0].set_title('Ampang')
axes[1,1].set_title('Cheras')
plt.show();

## Summary

Pandas provides a "batteries-included" basic data analysis:
  - **Loading data:** `read_csv`, `read_table`, `read_sql`, and `read_html`
  - **Selection, filtering, and aggregation** (i.e., SQL-type operations): There's a special syntax for `SELECT`ing.  There's the `merge` method for `JOIN`ing.  There's also an easy syntax for what in SQL is a mouthful: Creating a new column whose value is computed from other column -- with the bonus that now the computations can use the full power of Python (though it might be faster if it didn't).
  - **"Pivot table" style aggregation**: If you're an Excel cognosceti, you may appreciate this.
  - **NA handling**: Like R's data frames, there is good support for transforming NA values with default values / averaging tricks / etc.
  - **Basic statistics:** e.g. `mean`, `median`, `max`, `min`, and the convenient `describe`.
  - **Plugging into more advanced analytics:** Okay, this isn't batteries included.  But still, it plays reasonably with `sklearn`.
  - **Visualization:** For instance `plot` and `hist`.
  
Plugging into more advanced analytics
-------
Almost any "advanced analytics" tool in the Python ecosystem is going to take as input `np.array` type arrays.  You can access the underlying array of a data frame column as

        df['column'].values
        
Many of them take `nd.array` whose underlying data can be accessed by 

        df.values
        
directly.  *Most* of the time, they will take `df['column']` and `df` without needing to look at values.

This is particularly important if you want to use Pandas with the sklearn library. See this [blog post](http://www.markhneedham.com/blog/2013/11/09/python-making-scikit-learn-and-pandas-play-nice/) for an example.